body {
  background-color: white;
}

.content {
  padding: 3rem;
  margin: 3rem;
  width: 400px;
}

.keyElements {
  display: flex;
  width: 300px;
  padding: 25px;
  justify-content: space-between;
  background-color: antiquewhite;
}

.keyElements p {
  color: brown;
}
